<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexandrkuchinsky.studandroidbook">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vvedenie"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sructofproject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".androidLayouts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workWithMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uiWidgets"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragmentsActivities"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SqliteFirebase"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mysqlPHP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services"
            android:screenOrientation="portrait" />
        <activity
            android:name=".containersAndroid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flows"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dataWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xmlJson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".knowing"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".historyVersion"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".whyAndroid"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".basicsOfConstruction"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".sdkSettings"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".developerOption"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".makeFirstApp"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".strOfPr"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".manifest"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".androidRes"
            android:screenOrientation="portrait"
           ></activity>
    </application>

</manifest>