<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexandrkuchinsky.studandroidbook">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vvedenie"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".sructofproject" />
        <activity android:name=".androidLayouts" />
        <activity android:name=".workWithMenu" />
        <activity android:name=".uiWidgets" />
        <activity android:name=".fragmentsActivities" />
        <activity android:name=".notification" />
        <activity android:name=".SqliteFirebase" />
        <activity android:name=".mysqlPHP" />
        <activity android:name=".services" />
        <activity android:name=".containersAndroid" />
        <activity android:name=".flows" />
        <activity android:name=".dataWork" />
        <activity android:name=".xmlJson" />
        <activity
            android:name=".knowing"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".historyVersion"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".whyAndroid"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".basicsOfConstruction"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".sdkSettings"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity android:name=".developerOption"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" ></activity>
    </application>

</manifest>